body{
    font-family: 'Pacifico', cursive;
   background:  linear-gradient(red 0%, orange 10% 30%, yellow 50% 70%, green 90% 100%);
}
   .header_div{
    background: white;
    color: darkturquoise;
}
